body {
  font-family: "Dosis", sans-serif;
  background-color: #eeeeee;
}

.heading,
.container,
.button {
  padding: 50px;
}

h1,
h3 {
  text-align: center;
}

h1 {
  font-weight: bolder;
}

.button {
  text-align: center;
}
