body {
  font-family: "Dosis", sans-serif;
  background-color: #eeeeee;
  color: #303841;
}

.heading,
.container,
.button,
.choices {
  padding: 50px;
}

h1,
h3 {
  text-align: center;
}

h1 {
  font-weight: bolder;
}

.button {
  text-align: center;
}

button {
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

button:hover {
  background-color: #00adb5;
  color: #eeeeee;
  transition: all 200ms ease;
}

/* .choices {
  flex-wrap: wrap;
  height: 500px;
} */
